%section.slider-clients
	.carrusel-slider-clients
		.single-item-clients
			.item-clients
				%img.img-responsive{:src => "assets/img/bg-1.jpg"}/
			.item-clients
				%img.img-responsive{:src => "assets/img/bg-2.jpg"}/
			.item-clients
				%img.img-responsive{:src => "assets/img/bg-3.jpg"}/

