#home{
  .jb-bg-home{
    height: 500px;
    //background-image:url('/assets/img/home.jpg');
    background-color: #27272727; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: white;
    padding: 0 !important;
    margin: 0  !important;
  }
}