@import 'variables';
@import 'mixins';
/* ===== Settings ====== */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: $font-primary;
}

body {
    padding-top: 54px;
}
